# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSX
.DS_Store

#test files
big_test.txt
inter_test.txt

#XCode
xcdebugger
*.xccheckout
~

#sigmod-specific
testdriver
*.dSYM
